<section class="grid grid-cols-[1fr_2fr_1fr]">
  <div class="col-start-2">
    <h1 class="font-bold text-2xl text-center">登入</h1>
    <form class="mt-8">
      <div class="mb-3">
        <label for="email">帳號(Email)<span class="text-rose-600">*</span></label>
        <input type="email" name="email" id="email" class="border border-slate-300 rounded w-full h-8 py-1 px-4">
      </div>
      <div class="mb-3">
        <label for="password">密碼<span class="text-rose-600">*</span></label>
        <input type="password" name="password" id="password" class="border border-slate-300 rounded w-full h-8 py-1 px-4">
      </div>
      <div class="w-full flex justify-center mt-8">
        <button type="submit" class="bg-orange-400 shadow-md text-white rounded w-full h-8">新增支出</button>
      </div>
      <div class="w-full flex justify-end mt-2 text-slate-500">
        <p>不是會員? <a href="/register" class="underline underline-offset-2 hover:text-slate-700 hover:font-bold">註冊</a></p>
      </div>
    </form>
  </div>
</section>